.formulario_sec{
    background: linear-gradient(0deg,  rgb(0, 0, 0), rgb(120, 0, 219));
}
.formulario_div{
    background-color: rgba(255, 255, 255, 0.356);
    padding: 5%;
    border-radius: 3em;
    margin-top: 50px;
}
.formulario_div *{
    margin: 5px;
    border-radius: 1rem;
}
.form_field{
    padding-left: 35px;
}
legend{
    font-size: 24px;
}
input{
    position: relative;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
}
input[type="submit"]{
    display: flex;
    justify-self: flex-end;
}
h3{
    margin-top: 5%;
}
.spans{
    display: flex;
    flex-wrap: wrap;
}
textarea{
    padding: 10px;
}