h3{
    font-size: 3em;
    display: flex;
    justify-self: center;
    margin-bottom: 1em;
}
.release_main{
    background: linear-gradient(0deg,black 15%, rgb(107, 35, 77) 60%, rgb(159, 30, 119) 100%);
}
.release_mainsec{
    display: flex;
    justify-content: space-evenly;
}
.release_main img{
    width: 30%;
    height: auto;
}
.release_body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, black 10%, blueviolet 30%, rgb(206, 38, 218) 50%, blueviolet 80%, black 100%);
}
.release_snacbar{
    background-color: rgb(43, 43, 43);
    border: solid rgb(82, 82, 82) 1px;
    margin: 10px;
    border-radius: 2em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    border-radius: 2em;
    width: 50px;
    height: 50px;
    text-align: center;
}