* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2, h3, h4, h5, a, p, ol, span{
    color: white;
    text-decoration: none;
}
header{
    z-index: 100;
}
a{
    border-radius: 10px;
    padding: 7px;
    background-color: blueviolet;
    white-space: nowrap;
    margin: 10px 2px;
    display: inline-block;
    align-content: center;
}
span{
    font-size: 12px;
    padding: 8px;
    border: solid 1px grey;
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
    display: inline-block;
    margin: 5px 5px;
}
h1{
    font-size: 12px;
    color: white;
    align-self: center;
}
strong{
    background: linear-gradient(90deg,rgba(93, 222, 222, 1) 0%, rgba(237, 83, 234, 1) 100%);
    background-clip: text;
    color: transparent;
}
h2{
    font-size: 48px;
}
h3 {
    font-size: 36px;
    display: inline-block;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgba(0, 220, 232, 1), rgba(194, 0, 219, 1)) 1;
    margin-bottom: 20px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
}
section{
    padding: 80px 15%;
}
.menu{
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    padding-left: 30px;
    position: sticky;
    top: 0;
}
.index_menu_button{
    width: auto;
    height: auto;
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    margin: 0px;
}
.index_menu_button:hover{
    background-color: rgb(45, 109, 45);
    border-radius: 15px;
}
.footer_home{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.footer_home *{
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.links a{
    margin: 0px 3px;
}