* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 12px;
    color: white
}
strong{
    background: linear-gradient(90deg,rgba(93, 222, 222, 1) 0%, rgba(237, 83, 234, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
img{
    width: 50px;
    height: 50px;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}
.index_menu_button{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.index_menu_button:hover{
    background-color: green;
    border-radius: 15px;
}

.sec_main{
    display: flex;
    justify-content: space-between;
    background-color: purple;
    padding: 50px 30px;
}
.main_arg{
    width: 50%;
}
.release_div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.release_sec{
    background-color: antiquewhite;
    padding: 50px 30px;
}
.release_card{
    width: 15%;
    background-color: cyan;
    margin: 10px 1px 10px 1px;
    border-radius: 10px;
    padding: 1%;
}
.artist_sec{
    background-color: blueviolet;
    padding: 50px 30px;
}
.artist_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
}
.artist_card{
    background-color: aqua;
    padding: 15px;
    border-radius: 20px;
}
.festival_sec{
    background-color: cadetblue;
    padding: 50px 30px;
}
.festival_space{
    display: flex;
    justify-content: space-evenly;
}
.festival_div{
    display: flex;
    width: 70%;
    justify-content: space-between;
    background-color: brown;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    height: fit-content;
}
.festival_card{
    background-color: aquamarine;
    border-radius: 15px;
    padding: 20px;
}
.festival_aside{
    background-color: aquamarine;
    width: 20%;
    padding: 20px;
    border-radius: 20px;
}
.promos_card{
    background-color: beige;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 10px;
}
.top10_sec{
    background-color: blue;
    padding: 50px 30px;
}
.top10_list{
    display: grid;
    grid-template-rows:  repeat(5, auto);
    grid-auto-flow: column;
    gap: 10px;
}
.top10_card{
    width: 45%;
}
.footer_home{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.footer_home *{
    font-size: 12px;
    color: white;
    text-decoration: none;
}